.jQBracket div.label.label {
    color: #000;
    line-height: 20px;
}

.jumbotron img {
    max-width: 300px;
}

.jumbotron .col-lg-4 {
    line-height: 185px;
    text-align: center;
}

.tournamentSaver {
    margin-right: 20px;
}

.shiftTournament-1 {
    margin-left: 140px;
}

.shiftTournament-2 {
    margin-left: 280px;
}

.shiftTournament-2.reducedMargin {
    margin-left: 140px;
}

div.jQBracket .bubble.fourth.fourth {
    background-color: #678;
    color: #CCD;
}

div.jQBracket .bubble.fourth.fourth:after {
    border-right-color: #678;
}

#freeTournament {
    line-height: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
}

.row .col-lg-6 {
    line-height: 196px;
    text-align: center;
}
