<link rel="stylesheet" href="css/challenges.css">

<div id="allChallenges">
    <h1>Défis</h1>

    <p>
        Votre équipe : Rouge/Bleu
    </p>

    <h2>Liste des défis</h2>

    <ul id="challengesList">
    </ul>
</div>

<div id="oneChallenge">
    <h1 id="challengeTitle"></h1>
    <p id="challengeDescr"></p>

    <br>
    <p>
        Lorsque vous completez le challenge, signalez le à un organisateur de l'anim, il vous donnera le token de validation.
    </p>
    <form id="checkToken" class="form-inline">
        <input type="hidden" id="challengeId">
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="challengeToken" class="form-control input-block" placeholder="Token donné par l'admin">
            </div>
        </div>
        <button type="submit" id="challengeSubmit" class="btn btn-primary">Valider le token</button>
    </form>
</div>

<script src="js/challenges.js"></script>
