<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Bienvenue sur le site de l'UTT Arena 2014</h1>
            <br>
            <p>
                Bonjour à toi, brave joueur, et bienvenue sur l’intranet ou plus communément appelé "<strong>l’intra</strong>" !<br>
            </p>

            <h2>Pour le libre :</h2>
            <ul>
                <li>Pour créer un tournoi libre, vas sur l’onglet "<strong>Tournois</strong>". Renseigne quelques infos sur le tournoi, et un arbre sera généré.</li>
                <li>Pour rejoindre un tournoi, allez dans l'onglet "<strong>Tournois</strong>", et sélectionnez le tournoi qui vous intéresse. Un bouton "<strong>Rejoindre le tournoi</strong>" est présent. Inscrivez le nom de votre équipe (ou votre nom dans le cas d'un tournoi sans équipe), et vous êtes inscrit !</li>
            </ul>
            <h2>Système de points :</h2>
            <ul>
                <li>Les points : cette année, un systeme de points est mis en place. Les trois joueurs ayant le plus de points obtiendront des lots. Des défis/événement seront proposés pour gagner ces points (pour voir les defis aller sur l’onglet "<strong>Challenges</strong>"). Si vous avez réussi, aller voir l’anim pour récuperer un jeton et ecrivez la page du défi le jeton. Les points vous sont alors attribués.</li>
                <li>
                    L’énigme : de plus cette année une énigme est proposée : "<strong>Trouvez la page cachée</strong>”. Des indices peuvent etre demandés à l’anim à partir de 100, 200, 300 et 400 points.
                </li>
            </ul>
            <h2>J'ai un problème !</h2>
            <p>
                Pour tout probleme non technique (organisation des jeux et des tournois, des questions sur événement, des défis, des idées de défis/événements, des questions sur le plannig etc.), allez voir l’anim !<br>
                Pour tout problème technique (problème de connexion, de jeu, sur l'intra, etc.), expliquez votre problème à des membres du staff.
            </p>
        </div>
    </div>
</div>
