<script src="js/flowplayer-3.2.13.min.js"></script>
<style>
#player {
    min-height: 300px;
    max-width: 600px
}
</style>

<h1>Stream UA</h1>
<div id="player"></div>

<script>
    flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf", {
         clip: {
            url: 'ua_test',
            scaling: 'fit',
            provider: 'ua'
        },
        plugins: {
            ua: {
                url: "swf/flowplayer.rtmp-3.2.13.swf",
                netConnectionUrl: 'rtmp://caterino.ua/live/'
            }
        },
        canvas: {
            backgroundGradient: 'none'
        }
    });

    setTimeout(function () {
        $('#player_api').attr('height', '400');
    }, 500);
</script>
