<link rel="stylesheet" href="css/tournaments.css">
<link rel="stylesheet" href="vendor/bracket/jquery.bracket.min.css">

<div class="jumbotron">
   <h1>Spotlights</h1>
   <br>
   <br>
   <div class="row">
       <div class="col-lg-6">
           <a href="#" data-tournament="Tournoi 1">
               <img src="img/lol.png" alt="League Of Legends">
           </a>
       </div>
       <div class="col-lg-6">
           <a href="#" data-tournament="Tournoi 1">
               <img src="img/sc2.png" alt="Starcraft II">
           </a>
       </div>
    </div>
    <div class="row">
       <div class="col-lg-6">
           <a href="#" data-tournament="Tournoi 1">
               <img src="img/csgo.png" alt="Counter-Strike Global Offensive">
           </a>
       </div>
       <div class="col-lg-6">
           <a href="#" data-tournament="Tournoi 1">
               <img src="img/sms.png" alt="Shoot Mania">
           </a>
       </div>
   </div>
</div>

<h2>
    <span id="freeTournament">Tournois libres</span>
    <small>
        <a href="#" data-load-partial="createFreeTournament.html" class="btn btn-success btn-lg">Créer un tournoi libre</a>
    </small>
</h2>

<div id="list">
</div>

<div id="tournamentDetails"></div>

<script src="vendor/bracket/jquery.bracket.min.js"></script>
<script src="js/tournaments.algo.js"></script>
<script src="js/tournaments.js"></script>
